/* core css */
body {
    margin: 0;
    padding: 0;
    min-width: 300px;
    font-family: 'lato', sans-serif;
    text-align: center;
    overflow-x: hidden;
}

h1, p {
    margin: 0;
    font-weight: normal;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

header, main {
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
}

/* content */
.main {
    z-index: -1;
}