/* main */
main {
    height: 100vh;
    min-height: 700px;
    display: flex;
    overflow: auto;
}

main .bgImage {
    position: absolute;
    background: #333 url("../asset/welcome-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    z-index: -1;
    filter: brightness(0.4);
}

#login {
    align-self: center;
}

#login .welcome {
    color: #ffffff;
    margin-bottom: 2em;
}

#login .welcome img {
    margin: auto;
    width: 70%;
    padding-bottom: 0.5em;
}

#login .welcome p {
    font-size: 1em;
    line-height: 2em;
    padding: 0.5em 0;
    text-align: center;
}

.loginBox {
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 80%;
    max-width: 350px;
    border-radius: 0.5em;
    padding: 1.5em;
}

.loginBox form>* {
    margin: 1.2em 0;
    border: 0;
}

.loginBox input {
    display: inline-block;
    height: 30px;
    border-radius: 0.2em;
    padding: 0.7em;
    width: 85%;
    font-size: 1em;
}

.loginBox #loginButton {
    width: 100px;
    font-size: 1.3em;
    padding: 0.5em;
    border: 1px solid #f5c73c;
    color: #f5c73c;
    background: none;
    border-radius: 0.2em;
    -webkit-transition: 100ms ease;
    -moz-transition: 100ms ease;
    -o-transition: 100ms ease;
    transition: 200ms ease;
}

.loginBox form #loginButton:hover {
    background: #f5c73c;
    color: #333333;
    cursor: pointer;
}

/* media queries */
@media(min-width: 450px) {
    #login .welcome img {
        width: 60%;
    }

    #login .welcome p {
        font-size: 1.5em;
    }
}

@media(min-width: 900px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .welcome {
        grid-column: 2/7;
        align-self: center;
    }

    .loginBox{
        grid-column: 7/12;
        align-self: center;
        margin-left: 4em; 
    }

    #login .welcome img {
        width: 100%;
        margin: 0;
    }

    #login .welcome p {
        font-size: 1.6em;
        text-align: left;
    }

    .loginBox #loginButton {
        margin-top: 2em;
    }
}