* {
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
}

.body-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.nav-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.first-nav-container {
    display: flex;
    background-color: #f5c73c;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    color: white;
    height: 70px;
}

.first-nav-container img {
    heigth: 5.35em;
    width: 12em;
}

.second-nav-container {
    visibility: hidden;
    display: block;
    background-color: #ca4e3d;
    width: inherit;
    height: 40px;
}

.second-nav-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin-left: 5%;
    margin-right: 5%;
}

.second-nav-container div a {
    height: 100%;
    width: 100%;
    font-weight: 500;
    text-decoration: none;
    color: white;
    text-align: center;
}

.second-nav-container div a::before{
    display: inline-block;
    content: "";
    vertical-align: middle;
    height: 100%;
}

.second-nav-container div a:hover{
    background-color: gray;
}

.main-background {
    background-image: url("asset/welcome-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -5;
    filter: brightness(50%);
}

main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-container {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.25%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

#form{
    width: 30%;
}

#welcome-text {
    width: 50%;
}

.form-background {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    height: 100%;
    width: auto;
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form-container * {
    margin: 5px 0px;
}

.form-container input {
    height: 30px;
}

.form-container button {
    color: white;
    font-weight: bold;
    background-color: #f58634;
    border: unset;
    border-radius: 5px;
    height: 40px;
    margin-top: 25px;
    width: 40%;
    align-self: center;
}

#welcome {
    font-size: 7em;
    letter-spacing: 3px;
}

#welcome-description {
    font-size: 1.225em;
}



